/* body & general styling */

body {
    font-family: 'Roboto', sans-serif;
}

body > .container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.glyphicon {
    font-size: 24px;
}

* {
    border-radius: 0 !important;
}

/* menu styling */

#newmenu {
    background-color: #114285;
    color: white;
    height: 56px;
    font-size: 16px;
}


#newmenu span {
    position: relative;
    top: 18px;
    left: 80px;
}

#newmenu p {
    position: relative;
    top: 16px;
    left: -40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

/* steps styling */

#steps {
    background-color: #1d56a5;
    color: white;
    height:336px;
    padding-right: 50px;
}

#content {
    position: relative;
    right:50px;
}

#steps span {
    position: relative;
    right: 40px;
    top: 40px;
    size: 200px;
}

#steps p {
    position: relative;
    font-size: 14px;
    top: 25px;
}


#steps .steps-subtext {
    font-size: 12px;
    position: relative;
    top: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.horizontal-line {
    width: 60px;
    position: relative;
    top: 40px;
}

.horizontal-line hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid dimgrey;
    margin: 1em 0;
    padding: 0;
}

/* title styling */

#title {
    position: relative;
    top: -120px;
    color: white;
    font-size: 24px;
    padding-left: 50px;
}

/* search box styling */
#search {
    position: relative;
    top: -100px;
    padding-left: 50px;
}

.search-field{
    width: 90%;
}

#tags {
    height: 50px;
    position: relative;
    top: 1px;
    font-size: 16px;
}

#btn2 {
    height: 50px !important;

}

#btn2:hover{
    cursor:default !important;
}


/* Task styling */

#tasks {
    position: relative;
    padding-left: 25px;
}

#sortable1 {
    position: relative;
    top: -40px;
}

#sortable1 .ui-state-default {
    background-color: #f3f3f3;
    margin: 0 0 5px 0;
    font-size: 16px;
    padding-left: 10px;
    height: 46px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-style: none;
    border-left-style: solid;
    border-left-color: #94c0e7;
    border-left-width: 15px;
    list-style-type: none;
    position: relative;
    width: 90%;
}


#sortable1 br {
    line-height: 5px;
}

#sortable2 br {
    line-height: 5px;
}

#sortable2 {
    padding-left: 0 !important;
}

#sortable2 ul {
    min-height: 200px;
}

#sortable2 .fa-minus-circle {
    color: dodgerblue;
}

#sortable2 .ui-state-default {
    background-color: #f3f3f3;
    margin: 0 0 5px 0;
    font-size: 16px;
    padding-left: 10px;
    height: 46px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-style: none;
    border-left-style: solid;
    border-left-color: #94c0e7;
    border-left-width: 15px;
    list-style-type: none;
}

#sortable2 a{
    padding-left: 10px;
}

/* Checklist styling */

#checklist {
    background-color: white;
    position: relative;
    top: -210px;
    border-style: solid;
    border-color: #f3f3f3;
    border-width: thin;
    border-bottom-width: thin;
    border-bottom-color: grey;
}

#checklist-name {
    border-style: none;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: grey;
    width: 100%;
}

#checklist #main-title {
    background-color: #f3f3f3;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
}

#checklist .subtitle-blue {
    color: dodgerblue;
}

#checklist .subtitle-gray {
    color: gray;
}

/* Checklist button */

.input-group-btn {
    position: relative;
    top:1px;
}


